@charset "utf-8";

@import "_reset.pcss";

/* Initial
----------------------------------------------------------------------------- */

body {
	background: #ebebeb;
	color: #333;
	font: 14px/20px "Arial", "Helvetica", sans-serif;
}

/* Blocks
----------------------------------------------------------------------------- */

.wrapper {
	margin: auto;
	padding: 40px 20px;
	max-width: 800px;
}
.page-title {
	margin-bottom: 40px;
	font-size: 60px;
	line-height: 1.2;
}
.signup {
	margin-bottom: 40px;
	padding: 20px;
	border-radius: 10px;
	background: #c2c2c2;

	&__row {
		display: flex;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__field {
		flex: 1 1 auto;
		margin-right: 15px;
	}
	&__label {
		display: none;
	}
	&__textfield {
		padding: 0 10px;
		width: 100%;
		height: 30px;
		border: 1px solid #a0a0a0;
	}
	&__submit-wrapper {
		flex: 0 1 auto;
	}
	&__submit {
		padding: 0 20px;
		height: 30px;
		border: none;
		background: #51504e;
		color: #fff;
	}
	&__checkbox-label {
		color: #666;
	}
	&__checkbox {
	}
	&__tos-link {
		color: #444;

		&:hover {
			color: #069;
		}
	}
	&__login {
	}
	&__login-link {
		color: #4f76b3;

		&:hover {
			color: #069;
		}
	}
}
.form {
	margin-bottom: 40px;
	padding: 20px;
	border-radius: 10px;
	background: #c2c2c2;

	&__title {
		margin-bottom: 20px;
	}
	&__field {
		margin-bottom: 20px;
	}
	&__label {
		display: block;
		margin-bottom: 5px;
	}
	&__textfield {
		padding: 0 10px;
		width: 300px;
		height: 30px;
		border: 1px solid #a0a0a0;
	}
	&__submit-wrapper {
	}
	&__submit {
		padding: 0 20px;
		height: 30px;
		border: none;
		background: #51504e;
		color: #fff;
	}
}
.form-indicator {
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	background: #c2c2c2;
	backface-visibility: hidden;
}
.bfa-error-message {
	$bg-color: rgba(#d87884, .7);

	position: absolute;
	margin-top: -35px;
	margin-left: -8px;
	padding: 5px 10px;
	border-radius: 4px;
	background: $bg-color;
	color: #fff;

	&::after {
		position: absolute;
		top: 100%;
		left: 10px;
		display: block;
		width: 0;
		height: 0;
		border: 4px solid transparent;
		border-top-color: $bg-color;
		border-bottom-width: 0;
		content: "";
	}
}
